<div class="cuadro-denuncia">
    <form action="enviar.js" class="denuncia">

        <label class="botones_denuncia"> 
            Nombres:
            <input type="text">               
        </label>
        <br><br>
        <label class="botones_denuncia"> 
                Apellidos:
                <input type="text">                   
        </label>       
        <br><br>
        <label>
            Fecha de Nacimiento:
            <input type="date">
        </label>
        <br><br>
        <label class="botones_denuncia"> 
                E-mail:                           
            <input type="Email" required>
        </label>
        <br><br>

        <label class="botones_denuncia"> 
            Telefono:                           
        <input type="tel" required>
        </label>
        
        <br><br>

        <label for="text-denuncia">Escribinos tu denuncia</label>
        
        <textarea name="cuadrodenuncia" id="text-denuncia" cols="60" rows="12" class="botones_denuncia"></textarea>

        <input type="submit" value="Enviar" class="denuncia_enviar">

    </form>
</div>