.cuadro-denuncia{

    background-color: var(--celesteclaro);
    max-width: 25rem;
    max-height: 30rem;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 6px 6px 30px;

}


.denuncia_enviar{
   margin-left: 19rem;
   padding: 2px 12px;
   
}