<div class="cuadro-denuncia">
    <form action="api/agregar-exposicion" class="denuncia" method="post">

        <label class="botones_denuncia"> 
            Nombres:
            <input type="text" name="nombre">               
        </label>
        <br><br>
        <label class="botones_denuncia"> 
                Apellidos:
                <input type="text" name="apellido">                   
        </label>       
        <br><br>
        <label>
            Fecha de Nacimiento:
            <input type="date" name="fechaDeNacimiento">
        </label>
        <br><br>
        <label class="botones_denuncia"> 
                E-mail:                           
            <input type="Email" name="email"required>
        </label>
        <br><br>

        <label class="botones_denuncia"> 
            Telefono:                           
        <input type="tel" name="telefono" required>
        </label>
        
        <br><br>

        <label for="text-denuncia">Escribinos tu denuncia</label>
        
        <textarea name="exposicion" id="text-denuncia" cols="60" rows="12" class="botones_denuncia"></textarea>

        <input type="submit" value="Enviar" class="denuncia_enviar">

    </form>
</div>