<body>
    

<main>
<div class="cuadro-noticia">
<app-noticion></app-noticion>
<h3>Titulo de Noticia</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisi
</p>
<h3>Subtitulo de Noticia</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, 
    repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
    beatae obcaecati voluptate ratione fuga aperiam, </p>
    <h3>Sub-subtitulo de Noticia</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, 
        repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, 
        repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, 
        repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
        ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, 
        repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, 
        repellendus numquam blanditiis explicabo quisquam
        repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
        ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, 
        repellendus numquam blanditiis explicabo quisquam omnis adipisci odio provident neque?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit possimus, voluptates illum laborum 
        beatae obcaecati voluptate ratione fuga aperiam, </p>
</div>
</main>

</body>