
.card-noticias{
    max-width: 24rem;
    max-height: 24rem;
    

    & img {
        height: 15rem;

        
    }

    &:hover{
        transition-duration: 1s;
        border-radius: 30%; 
         opacity: 50%; 

    }


    
    & h2{
        text-align: center;
    }

    

}



.noticias-vermas{   
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:larger;
}

.noticias-vermas:hover{
    text-decoration: underline;
}

@media(max-width: 780px){

    .noticias-relev{
        grid-template-columns: repeat(1, 1fr);
    }

    .noticias-relev-articulo{
        width: 23rem;
        height: 23rem;
        
    }
}


@media(max-width: 912px){
    .noticias-relev{
        grid-template-columns: repeat(1, 1fr);

    }
}
