<div class="card-noticion">

    <a href="/noticias" class='card-noticion_info'>    
        <img src="assets/noticias/homicidio.jpg" alt=""> 
        <h2>Mató a su pareja en la cama y lo descuartizó.</h2>   
        <p>Los jueces decidieron por unanimidad absolver a Mafalda al considerar que ella padecía violencia de genero,
             aún después de describir los detalles de cómo intentó descuartizar el cuerpo y esconderlo en un galpón al fondo de su casa.  </p>  
    </a>
        
        
</div>